<!doctype html>
<html>
	<head>
		<title> Menue </title>	
		<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<style>
		th { text-align: center; }
		div.menus {
			text-align: center;
			padding: 40px 15px;
		}
	</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>					
					</button>
					<a class="navbar-brand" href="#"> Hi, {{ request.user }} </a>
					<a class="navbar-brand" href="/index/"> Home Page </a>
					<a class="navbar-brand" href="/restaurants_list/"> Restaurants List </a>
					<a class="navbar-brand" href="#"> Menu </a>
					{% if request.user.is_authenticated %}}
						<a class="navbar-brand" href="/accounts/logout/"> Logout </a>
					{% else %} 
						<a class="navbar-brand" href="/accounts/login/"> Login </a>
						<a class="navbar-brand" href="/accounts/register/"> Register </a>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="menus">
				<br>
				<h2> {{ r.name }} </h2>
				{% if r.food_set.all %}
				<p> There are {{r.food_set.all|length }} foods. </p>
				
				<table class="table">
					<tr>
						<th> Name </th>
						<th> Price </th>
						<th> Spicy </th>
						{% if perms.restaurants.food_can_comment %}
						<th> Comment </th>
						{% endif %}
					</tr>
					{% for food in r.food_set.all %}
					<tr>
						<td> {{ food.name }} </td>
						<td> {{ food.price }} </td>
						<td> {% if food.is_Spicy %} Hot {% endif %}</td>
						{% if perms.restaurants.food_can_comment %}
						<td> <a href="/foodcomment/{{food.id}}"> comment </a> </td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				{% else %}
				<p> Waiting for updating...</p>
				{% endif %}
			</div>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>